body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
p{
    color: dimgray;

}
.orange-color{
    color: orange;
}
section {
    display: flex;
    margin-bottom: 150px;
}
.ismail {
    padding-right: 30px;
}
.half-width{
    width: 60%;
    padding-left: 5%;
    margin-left: 5px;
}
.half-width img{
    width: 80%;
}
.hire-btn {
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.paragraph-2{
    padding-right: 10%;
    margin-bottom: 30px;
}